.vscode
.clangd
.cache
.venv
_debug
_release
_android
include/nupay/version.hpp
scripts/ci/build.sh
compile_commands.json
.nupay
.nupay_wallet
**/*.log
**/*.conf
.nupay_tests
.nupay-test
test_dir
build/
.idea
2_connected_nodes.sh
run_node.sh
genesis/accounts.json